{% load thumbnail %}
{% load poll_extras %}

<div class="col-sm-{{ col_size }}">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                {% if product.image %}
                    {% thumbnail product.image "268x250" quality=90 crop='center' as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                {% else %}
                    <img src="/static/images/shop/product.jpg" alt="">
                {% endif %}
                <h2>{{ product.price|three_digits_currency }}</h2>
                <p>{{ product.title }}</p>
                <a href="#" class="btn btn-default add-to-cart"><i
                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
            </div>
            <div class="product-overlay">
                <div class="overlay-content">
                    <h2>{{ product.price|three_digits_currency }} تومان</h2>
                    <p>{{ product.title }}</p>
                    <a href="#" class="btn btn-default add-to-cart"><i
                            class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                </div>
            </div>
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li>
                    <a href="{{ product.get_absolute_url }}">
                        <i class="fa fa-plus-square"></i>
                        مشاهده جزییات
                    </a>
                </li>
                <li>
                    <a href=""><i class="fa fa-plus-square"></i>مقایسه</a>
                </li>
            </ul>
        </div>
    </div>
</div>