{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    {% include 'shared/header_references.html' %}
    {% block header_references %}{% endblock %}
</head>
<body>
{% render_partial 'home_module.views.site_header_component' %}
{% block content %}{% endblock %}
{% render_partial 'home_module.views.site_footer_component' %}
{% include 'shared/footer_references.html' %}
{% block footer_references %}{% endblock %}
</body>
</html>